<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="profile">
      <img class="profileImage" src="<%= profileImage %>" alt="profileImage">
      <h3><%= profileName %></h3>
    </div>
    <h1 class="display-3">You've Discovered Secrets!</h1>

    <div class="secrets">
      <% MySecrets.forEach((users)=>{  %>
        <% users.secret.forEach((secret)=>{  %>
          <p class="secret-text"><%= secret %></p>
        <% })  %>
      <% })  %>
    </div>
    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
